.vs
.idea
.github
.vscode
.cache

x64
TempOutput
__pycache__
install
install_dotnet
*.vcxproj.user
*.orig
*.aps
MRLog*.txt
install.log
installError.log
test_data
distr/*
*.log
macos/Resources/LICENSE
test_python/*.png
source/**/config_cmake.h
source/MRDotNetTest/bin/*
source/MRDotNetTest/obj/*

docker
docs
doxygen
examples_plugin
examples
macos
thirdparty/vcpkg/downloads/*
**/*/node_modules
build
lib
out
